<html>
<head>
</head>
<body>
<header role="banner" class="navbar navbar-fixed-top navbar-inverse moodle-has-zindex">
    <nav role="navigation" class="navbar-inner">
        <div class="container-fluid">
            <a class="small-logo-container" title="Home" href="http://lms.cbit.org.in/"><img class="small-logo" src="http://lms.cbit.org.in/pluginfile.php/1/theme_more/smalllogo/1571290279/garland_logo.png" alt="Site logo" /></a><a class="brand" title="Home" href="http://lms.cbit.org.in/">DEPARTMENT OF COMPUTER SCIENCE AND ENGINEERING, CBIT(A)</a>                        <div class="usermenu"><span class="login">You are not logged in. (<a href="http://lms.cbit.org.in/login/index.php">Log in</a>)</span></div>                                    <div class="nav-collapse collapse">
                                <ul class="nav pull-right">
                    <li></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="menu">
  <div class="content">
    <a href="javascript:void(0)">Home</a>
    <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</span>
  </div>
  <div class="content">
    <a href="javascript:void(0)">About</a>
    <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</span>
  </div>
  <div class="content" >
    <a href="javascript:void(0)" >Content</a>
    <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</span>
  </div>
</div>
</body>